#resourceTable {
    margin-top: 10vh;
    width: 100vw;  
    text-align: center;
    padding: 0 2em;
}

thead {
    color: white;
    font-size: 18pt;
    background-color: var(--efaGoldPrime);
}

thead tr {
    height: 50px;
}

tbody tr {
    background: lightgrey;
    height: 40px;
}

tbody tr td a {
    text-decoration: none;
}

tbody tr td a:visited {
    color: var(--efaRedSec);
}