
/* 
*Testing connections for HTML *1
body {
    background-color: red;
} 
*/

:root {
    --efaRedPrime: #EC494B;
    --efaRedSec: #B63234;
    --efaGoldPrime: #EDB71E;
    --efaGoldSec: #D4A730;
    --efaBluePrime: #438BB8;    
    --efaBlueSec: #2D7CA4;
    --efaGray: #54565A;    
    --efaFont: 'Gotham', sans-serif;
    --efaBodyFont: 'Crimson', serif;
    /* 
    * sourced for EFA Style Guide
    */
}

/*NOTE INCLUDE MEDIA QUERY HERE */

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    font-family: var(--efaBodyFont);
    background-color: var(--efaGray);
}

a:hover {
    color: var(--efaGoldPrime);
}

/*! NAVBAR */
nav {
    display: grid;
    width: 100vw;
    height: 10vh;
    background-color: var(--efaRedPrime);
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 1;
    font-family: var(--efaFont);
    /* font-family: 'Gotham', sans-serif; */
}

nav ul #nav-items {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: .25rem;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    display: inline-flex;
    list-style: none;
    color: white;
}

#brand {
    font-size: 24pt;
    float: left;
    margin-right: 1rem;
    height: 100%;
}

#brand:hover {
    color: var(--efaGoldPrime)
}

.nav-week {
    margin-right: 2rem;
    font-size: 16pt;
}

/*! SIDEBAR */
.sideBar {
    font-family: var(--efaFont);
    height: 100vh;
    width: 15vw;
    padding-top: 5rem;
    background: linear-gradient(
        .85turn,
        var(--efaRedPrime), 
        #FFFFFF
    );
    position: fixed;
    z-index: 0;
}

/* .sidebar ul {
    border-bottom: 2px solid red;
} */

.sideBar ul a {
    list-style: none;
    /* font-size: auto; */
    color: black;
    text-decoration: none;
    line-height: 2em;
}

.sideBar ul a:hover {
    font: bolder;
    color: var(--efaRedPrime)
} 



/*! MAIN CONTAINER  */
main {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 15vw;
    height: auto;
    width: 85vw;
    float: right;
    display: block;
    padding: 1rem;
    /* overflow-y: hidden; */

}

section {
    background-color: whitesmoke;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 1rem;
    margin-bottom: 2em;
    box-shadow: 3px 4px 8px black;
}

.sectionHeaders {
    font-family: var(--efaFont);
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionContainers div {
    /* border: 2px solid black; */
    margin: .5em;
    padding: .25em;
}

#myNotes {
    border: 2px solid black;
}

/*! INTRODUCTION */
#introduction {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

section #introText {
    width: 60%;
    /* border: 1px solid black; */
}

section #introImg {
    background: url('../assets/intro_img.jpg') -25px -10px no-repeat;
    height: 300px;
    width: 300px;    
    border-radius: 100px;
}

/*! TERMINAL */
code {
    background: lightgrey;
}

/*! FOOTER  */
footer {
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-between;
    /* width: 100vw; */
    border: 1px solid black;
    width: 85vw;
    height: 10vh;
    margin-left: 15vw;
    /* right: 0; */
    bottom: 0;
    position: fixed;
    /* padding: .5rem; */
    background-color: var(--efaRedSec);
}

footer div {
    /* margin: .5em; */
    color: white;
    width: 50%;
    text-align: center;
}

footer div ul {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: space-around; */
}

footer div ul a {
    color: white;
    text-decoration: none;
    /* text-decoration: var(--efaGoldPrime); */
    list-style: none;
    /* list-style: outside; */
    /* display: inline-flex; */
    /* text-align: center; */
    /* justify-content: space-between; */
}

/* #copyright { */
    /* text-align: center; */
/* } */

/* footer ul a:hover {
    color: var(--efaGoldPrime);
} */